﻿
@{
    ViewBag.Title = "Index";
}

<h2>SQL Injection</h2>

@if(ViewBag.Error != null)
{
    <div class="alert-warning">@ViewBag.Error</div>
}
@using(Html.BeginForm(FormMethod.Post))
{
    <p>Enter name to search for</p>
    <input type="text" name="name" id="name"/>
    <input type="submit" value="Search"/>
}
@Html.Raw(ViewBag.Output)

