﻿@model SecureMoviesApp.Models.Film

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DirectorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirectorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudioID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudioID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Review)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Review)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LanguageID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanguageID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RunTimeMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RunTimeMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CertificateID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CertificateID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetDollars)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudgetDollars)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoxOfficeDollars)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoxOfficeDollars)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OscarNominations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OscarNominations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OscarWins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OscarWins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre.Genre1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.Genre1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FilmID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
