﻿@model IEnumerable< SecureMoviesApp.Models.i8aoFilmsByGenre_Result>

@{
    ViewBag.Title = "FilmsByGenre";
}

<h2>Films met genre</h2>
@using (Html.BeginForm(FormMethod.Get))
{
    <p>Select genre </p>
    @Html.DropDownList("genre" ,(SelectList)ViewBag.genre ,  new { onchange = "this.form.submit();"}) 
    @*<input type="submit" value="Submit"/>*@
}

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Titel)</th>
        <th>@Html.DisplayNameFor(model => model.Genre)</th>
        <th>@Html.DisplayNameFor(model => model.Oscar_nominaties)</th>
        <th>@Html.DisplayNameFor(model => model.Gewonnen_Oscars)</th>
    </tr>
    @foreach (var film in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => film.Titel)</td>
            <td>@Html.DisplayFor(modelItem => film.Genre)</td>
            <td>@Html.DisplayFor(modelItem => film.Oscar_nominaties)</td>
            <td>@Html.DisplayFor(modelItem => film.Gewonnen_Oscars)</td>
        </tr>
    }
</table>
<div class="panel panel-default">
    <div class="panel-body">
        <a href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/creating-an-entity-framework-data-model-for-an-asp-net-mvc-application">Get Started with Entity Framework 6 Code First using MVC 5</a>
        <br />
        <a href="https://youtu.be/BeZdeWmW-4Q">C# MVC Entity Framework Database First Tutorial w/ SQL Server Management Studio Basics</a>
        <a href="https://youtu.be/VFFM9o8fWPc">Using stored procedures with entity framework</a>
    </div>
</div>