﻿@using PagedList.Mvc;
@using PagedList; 

@model IPagedList< SecureMoviesApp.Models.Film>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Director.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Studio.Studio1)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Review)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Country.Country1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Language.Language1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().RunTimeMinutes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Certificate.Certificate1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().BudgetDollars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().BoxOfficeDollars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OscarNominations)
        </th>
        <th>

            @Html.DisplayNameFor(model => model.FirstOrDefault().OscarWins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Genre.Genre1)
        </th>
        <th>
            Aantal acteurs
        </th>
        @if (User.IsInRole("Admin"))
        {
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Director.FullName) <br />
                (Aantal films: @item.Director.Film.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Studio.Studio1)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Review)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Country.Country1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language.Language1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RunTimeMinutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Certificate.Certificate1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BudgetDollars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoxOfficeDollars)
            </td>
            @{string style = item.OscarNominations == 0 ? "background-color:lightgoldenrodyellow" :
                         "background-color:lightgreen";
            }

            <td style="@style">
                @Html.DisplayFor(modelItem => item.OscarNominations)

            </td>
            @*<td>
                    @if (item.OscarNominations == 0)
                    {
                    <td style="background-color:lightgoldenrodyellow">GEEN</td>
                }
                else
                {
                    <td style="background-color:lightgreen">@Html.DisplayFor(modelItem => item.OscarNominations)</td>
                }
                    </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.OscarWins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Genre1)
            </td>
            <td>
                @item.Role.Count
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.FilmID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.FilmID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.FilmID })
                </td>
            }
        </tr>
    }

</table>

<!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
