﻿@model SecureMoviesApp.Models.Studio

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Studio1</h2>

<h3>Movies</h3>
<table class="table table-bordered">
    <tr style="background-color:yellow;">
        <th>Title</th>
        <th>Releasedate</th>
        <th>Director</th>
        <th>Actors</th>
        <th>Review</th>
    </tr>
    @foreach (var film in Model.Film)
    {
        <tr>
            <td>@film.Title</td>
            <td>@film.ReleaseDate</td>
            <td>@film.Director.FullName</td>
            <td>
                <ul>
                    @foreach (var role in film.Role)
                    {
                        <li>@role.Actor.FullName (@role.Role1)</li>
                    }
                </ul>

            </td>
            <td>@film.Review</td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudioID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
