﻿@model IEnumerable< SecureMoviesApp.Models.Studio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Studio1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfMovies)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Studio1)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NumberOfMovies)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.StudioID }) |
        @Html.ActionLink("Details", "Details", new { id = item.StudioID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.StudioID })
    </td>
</tr>
}

</table>
