﻿@model IEnumerable< SecureMoviesApp.Models.ViewModels.VMDirectorWithMovies>

@foreach (var director in Model)
{
    <h2>@director.Name (geboren op @director.Birthdate)</h2>
    <table class="table table-responsive">
        @foreach (var film in director.Films)
        {
            <tr>
                <td>@film.Title</td> <td>@film.ReleaseDate</td>
                <td>@film.OscarWins</td>
            </tr>
        }
    </table>
}

