﻿@model IEnumerable< SecureMoviesApp.Models.Genre>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Genre1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Genre1) (Number of movies: 
            <a href="/Films/FilmsByGenre?genre=@item.GenreID">@item.NumberOfMovies</a>)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GenreID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GenreID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GenreID })
        </td>
    </tr>
}

</table>
