﻿@{
    ViewBag.Title = "About this Movies App";
}
<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>


    <p>
        This application is build as a sample application for students of the department Software Development at ROC van Twente.
    </p>
    <p>
        The website is build with ASP.NET / MVC (.NET framework)<br />
        The data is stored in a SQL Server database.<br /><br/>


        <img src="~/Content/Images/OIP.jpg" />
    </p>
</div>
<p>
    <h3>Voor meer info over ASP.NET / MVC:</h3>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/introduction/getting-started" target="_blank">
                Getting started with ASP.NET MVC 5
            </a>
        </li>
        <li class="list-group-item">
            <a href="https://youtu.be/E7Voso411Vs" target="_blank">
                Step-by-step ASP.NET MVC Tutorial for Beginners 
            </a> by 
            <a href="https://codewithmosh.com/" target="_blank">
                Mosh Hamedani
            </a>
        </li>
    </ul>
</p>


