﻿@{
    ViewBag.Title = "ROC van Twente";
}
<h1>@ViewBag.Title.</h1>

<div class="row">
    <div class="col-md-7">
        <img class="img-responsive" src="~/Content/Images/ROC-van-Twente-Hengelo.jpg"/>
    </div>
    <div class="col-md-5">
        @*<address>
            Gieterij 200<br />
            7553 VZ  Hengelo<br />
            The Netherlands<br />

        </address>*@
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2442.054571364782!2d6.784303515719489!3d52.26055406317656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b811fd14a2f579%3A0x68cddc7cd65e7d58!2sGieterij%20200%2C%207553%20VZ%20Hengelo!5e0!3m2!1snl!2snl!4v1601651680695!5m2!1snl!2snl" width="500" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>



