﻿@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Movie World</h1>
    <p class="lead">This application is a work in progress for lessons in ASP.NET MVC</p>
    <p><a href="https://www.imdb.com/" class="btn btn-primary btn-lg">IMDB for more movies&raquo;</a></p>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img  src="~/Content/Images/one-flew-over-the-cuckoo-s-nest-1975-jack-nicholson-20476479-1600-1155.jpg" alt="...">
                        <div class="carousel-caption">
                            <h3>One Flew over the Cuckoo's Nest</h3>
                        </div>
                    </div>
                    <div class="item">
                        <img  src="~/Content/Images/Intouchables-Movie-Wallpapers-81.jpeg" alt="...">
                        <div class="carousel-caption">
                            <h3>Intouchable</h3>
                        </div>
                    </div>
                    <div class="item">
                        <img  src="~/Content/Images/webANXgreenmile.jpg" alt="...">
                        <div class="carousel-caption">
                            <h3>The Green Mile</h3>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div> <!-- Carousel -->
        </div>
        @*<div class="col-md-4">
            <h4>One Flew over the Cuckoo's Nest</h4>
            <a href="https://www.imdb.com/title/tt1675434/" target="_blank">
                <img src="~/Content/Images/one-flew-over-the-cuckoo-s-nest-1975-jack-nicholson-20476479-1600-1155.jpg" />
            </a>
        </div>
        <div class="col-md-4">
            <h4>Intouchables</h4>
            <a href="https://www.imdb.com/title/tt1675434/" target="_blank">
                <img class="img-responsive" src="~/Content/Images/Intouchables-Movie-Wallpapers-81.jpeg" />
            </a>"
        </div>
        <div class="col-md-4">
            <h4>The Green Mile</h4>
            <a href="https://www.imdb.com/title/tt0120689/" target="_blank">
                <img class="img-responsive" src="~/Content/Images/webANXgreenmile.jpg" />
            </a>
        </div>*@
    </div>
</div>