﻿@model SecureMoviesApp.Models.Certificate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Certificate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Certificate1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Certificate1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CertificateID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
