﻿@model SecureMoviesApp.Models.Actor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Actor</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FamilyName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FamilyName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FullName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FullName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DoB)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DoB)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DoD)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DoD)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Gender)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Gender)
                </dd>

            </dl>
        </div>
        <div class="col-md-4">
            <img src="@Model.ImageUrl" alt="@Model.FullName" />
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ActorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
