﻿@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@model IPagedList<SecureMoviesApp.Models.Actor>

@{
    ViewBag.Title = "Actors";
}

<h2>List of Actors</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />

        Filter by gender:
        <select name="genderfilter" onchange="this.form.submit();">

            <option @(ViewBag.GenderFilter == "All" ? "selected" : "")>All</option>


            <option @(ViewBag.GenderFilter == "Male" ? "selected" : "")>Male</option>


            <option @(ViewBag.GenderFilter == "Female" ? "selected" : "")>Female</option>


        </select>


    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("First name", "Index",
           new { sortOrder = ViewBag.FirstnameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Last name", "Index",
           new { sortOrder = ViewBag.LastnameSortParm })
        </th>
        <th>
            @Html.ActionLink("Birthdate", "Index",
           new { sortOrder = ViewBag.DoBSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Date of Dying", "Index",
           new { sortOrder = ViewBag.DoDSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Gender", "Index",
           new { sortOrder = ViewBag.GenderSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Age)
        </th>
        @if (User.IsInRole("Admin"))
        {
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Raw(item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FamilyName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DoB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ActorID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ActorID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ActorID })
                </td>
            }
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))